doctrine:
    dbal:
        url: '%env(DATABASE_URL)%'
        types:
            uuid:  'Ramsey\Uuid\Doctrine\UuidType'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/'
                prefix: 'App\Domain\Model'
                alias: App
