**/*.log
**/*.md
**/.dockerignore
**/.gitignore
**/Dockerfile
docker/database/
docker/stages/
documentation/
features/
.env*
.gitlab-ci.yml
.idea
Makefile
.phpspec.yml
phpunit.xml.dist
public/bundles/
tests/
var/cache/*
var/logs/*
vendor/
