version: '2'

services:
    db:
        image: 'timescale/timescaledb:0.9.0-pg10'
        environment:
            POSTGRES_DB: ${POSTGRES_PRODUCTION_DB}
            POSTGRES_USER: ${POSTGRES_PRODUCTION_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PRODUCTION_PASSWORD}
        networks: ['backend']
        ports: ['5432:5432']
        restart: 'always'
        volumes: ['data-db:/var/lib/postgresql/']
    nginx:
        image: ${PRODUCTION_IMAGE_NGINX}
        depends_on: ['php']
        networks: ['frontend', 'backend']
        ports: ['80:80']
    php:
        image: ${PRODUCTION_IMAGE_PHP}
        depends_on: ['db']
        networks: ['backend']
        restart: 'always'
        volumes: ['./.env:/var/www/bicing-api/.env']

volumes:
  data-db:

networks:
   frontend:
   backend:
